streamlit
streamlit-pdf-viewer
requests
tabulate
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-experimental==0.3.4
langchain-groq==0.3.6
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
pandas==2.3.1
sentence-transformers==5.0.0
pypdf==5.8.0